{{define "postquestion"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>问题发布</title>
    <link rel="stylesheet" href="/c/post_question_style.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>

        <div class="main_function">
            <div>
                <input type="text" class="headline" placeholder="请输入标题">
            </div>

            <div>
                <textarea rows="10" cols="40" class="content"></textarea>
            </div>
            <div>
                <button class="btn">发布</button>
            </div>
        </div>

        <script>
            document.querySelector(".btn").addEventListener("click",()=>{
                var pheadline=document.querySelector(".headline").value
                var pcontent=document.querySelector(".content").value
                // console.log(pcontent,pheadline)

                if (pheadline.length<2){
                    alert("标题字数不能小于2")
                    return
                }
                if (pcontent.length<5){
                    alert("正文字数不能小于5")
                    return
                }

                axios({
                    url:'/auth/upload_post_info',
                    method:'POST',
                    headers:{
                        "Authorization":localStorage.getItem("token")
                    },
                    data:JSON.stringify({
                        Headline: pheadline,
                        Content: pcontent
                    })
                }).then(result=>{
                    if(result.status==200){
                        alert("帖子上传成功")
                        window.location.href='/main'
                    }

                }).catch(error=>{
                    if(error.status==400){
                        alert("未登录")
                        // window.location.href='/login_page'
                    }
                    if(error.status==401){
                        alert("登陆过期")
                        // window.location.href='/login_page'
                    }

                })
            })
        </script>

<!--        if(result.status==200){-->

<!--        axios({-->
<!--        url: '/upload_post_info',-->
<!--        method: 'POST',-->
<!--        headers: {-->
<!--        'Content-Type': 'application/json'-->
<!--        },-->
<!--        data: -->
<!--        })-->
<!--        }).then(result=>{-->
<!--        if(result.status==200){-->
<!--        alert('发布成功')-->
<!--        window.location.href='/main'-->
<!--        }-->
<!--        }).catch(error=>{-->
<!--        console.log(error.data)-->
<!--        alert("发布失败")-->
<!--        return-->
<!--        })-->



<!--        }-->

<!--        路由地址-->
<!--        /-->

<!--        <div class="post_meta">-->
<!--            <span class="author"></span>-->
<!--            <span class="post_time"></span>-->
<!--        </div>-->


</body>
</html>
{{end}}