<!DOCTYPE html>
<html>
<head>

    <title>Welcome to Hdu.wiki</title>
    <style>
        .button-style {
            display: inline-block;
            padding: 10px 20px;
            background-color: #007bff;
            color: white;
            text-decoration: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .image-style {
            max-width: 100%;
            height: auto;
        }
        h1 {
            font-size: 30px;
        }

    </style>
</head>
<body>
<h1>欢迎来到杭电论坛!</h1>
<img src="/static/logo.jpg" alt="Logo" class="image-style">
<a href="/hdu.wiki/login" class="button-style">登录</a>
<a href="/hdu.wiki/register" class="button-style">注册</a>
</body>
</html>
